.clang-format
build/
shit/
05/op9/
lib/fifo.h
06/evenbiggerboy
*.o
01/first
02/babbyturing
03/wires
04/dubs
05/turing
07/seven
06/orbits
08/layers
05/working
02/turing
09/fuckyou
07/backupseven
05/backupturing
05/wip_turing
11/fuckyou
02/wip_turing
